.chat-page {
  display: block;
  overflow: auto;
}

.chat-page-main {
  background: #F5F1ED;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  justify-self: center;
  margin: 0 auto;
  max-width: 550px;
  overflow: visible;
  width: 100%;
}

.chat-page-side-panel {
  background: #F5F1ED;
  display: block;
  height: 100vh;
  overflow: hidden;
  width: 0;
}

.chat-page-side-panel-visible .chat-page-messages {
  padding: 0 16px 0 16px;
}

.chat-page-messages {
  background: #F5F1ED;
  min-height: 0;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.chat-page-messages>* {
  overflow-x: visible;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  flex: 1 1 auto;
}

.chat-page:not(.chat-page-side-panel-visible) .chat-page-messages>* {
  overflow-y: visible;
  flex: 0 0 auto;
}

.chat-page-messages>*::-webkit-scrollbar {
  display: none;
}

.chat-page-messages-follow {
  display: none;
}

.chat-page-side-panel-visible {
  align-items: stretch;
  display: flex;
}

.chat-page-side-panel-visible .chat-page-main {
  background: #F9F7F4;
  flex: 0 0 auto;
  margin: 0;
  animation: chat-page-slide-main-left 600ms cubic-bezier(0.87, 0, 0.13, 1);
}

.chat-page-resizer {
  width: 1px;
  flex: 0 0 auto;
  cursor: col-resize;
  background: #E5E2DC;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.chat-page-resizer::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -8px;
  right: -8px;
  cursor: col-resize;
}

.chat-page-side-panel-visible .chat-page-side-panel {
  flex: 1 1 auto;
  overflow-y: auto;
  width: auto;
}

@keyframes chat-page-slide-main-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes chat-page-slide-panel-in {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(0);
  }
}

.chat-page-side-panel-visible .chat-page-messages {
  background-color: #F9F7F4;
}

.chat-page-spacer-top {
  height: 0px;
  flex: 0 0 auto;
}

.chat-page-spacer-bottom {
  height: 168px;
  flex: 0 0 auto;
}

.chat-page-side-panel-visible .chat-page-spacer-bottom {
  height: 48px;
}
