.app {
  height: 100vh;
  width: 100%;
  background: var(--gray-1);
  box-sizing: border-box;
  overflow: hidden;
}

.app-tab-content {
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.app-tab-content[data-state="active"] {
  display: flex;
}

.app-tab-content[data-state="inactive"] {
  display: none;
}
