.error-message {
  display: grid;
  justify-items: start;
}

.error-message-bubble {
  border-radius: 18px;
  padding: 12px;
  background: #FFD3CF;
  max-width: 350px;
}

.error-message-summary {
  white-space: pre-wrap;
  color: #453321;
  font-size: 14px;
}
